<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css" th:href="@{/stylesheets/base.css}">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css" th:href="@{/stylesheets/nav.css}">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css" th:href="@{/stylesheets/table.css}">
    <meta charset="UTF-8">
    <title>MAS</title>

    <style>
        div.center {
            width: 70%;
            margin: 30px auto;
            padding: 20px;
            border: transparent;
            border-radius: 10px;
            background-color: azure;
            align-content: center;
            text-align: center;
        }
    </style>
</head>
<body style="font-family: 'Monaco', monospace;">
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:fragment="navbar">
        <div class="navbarClass">
            <a class="pole" href="/">Home</a>
            <a class="pole" href="/classes/show">Classes</a>
        </div>
    </div>
</header>
    <div class="center">
        <h1>MAS Project Spring + Hibernate</h1>
        <h2>Home Page</h2>
    </div>
</body>
</html>