.tableTdOptions {
   background-color: lightblue;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   align-content: center;
   text-align: center;
   font-size: 35px;
}
.text {
   text-align: center;
   word-break: break-all;
   border: none;
}
[contenteditable] {
   outline: 0;
}
p {
   margin: 0;
}
div.center {
   width: 70%;
   margin: 30px auto;
   padding: 20px;
   border: transparent;
   border-radius: 10px;
   background-color: azure;
   align-content: center;
   text-align: center;
}

a.tableHref {
   display: block;
   text-decoration: none;
   text-underline-mode: none;
   align-self: center;
   color: black;
   margin-left: auto;
   margin-right: auto;
   align-content: center;
   text-align: center;
   width: 100%;
}
tr.options {
   width: 100%;

}
table {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   align-content: center;
   text-align: center;
}
tr.test {
   background-color: lightblue;
}
td.tableTd {
   text-align: center;
   padding: 0;
}
@keyframes rotation {
   from{
      transform: rotate(0) scale(90%);
   }
   to {
      transform: rotate(360deg) scale(200%);
   }

}
#test {
   align-self: center;
   font-size: 20px;
   background-color: #46e9e9;
   border: 2px black solid;
   animation: rotation 4s infinite linear;
}
div.tableClass {
   display: inline-flex;
   width: 100%;
   margin-top: 20px;
   padding-bottom: 10px;
}
.tableHrefExp:hover {
   background-color: #8cd7f0;
}
.tableButton {
   border: none;
   background-color: transparent;
   padding: 0;
   height: 100%;
   width: 100%;
   font-size: 35px;
   transition: transform .1s;
   font-family: 'Monaco', monospace;
}
.tableButton:hover, .tableTdOptions:hover{
   background-color: #59c5e7;
   transition-duration: 200ms;
   transform: scale(1.05);
   cursor: pointer;
}
